workflows/intake-webhook-processor.json
{
  "name": "Intake Form → Monday.com Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake-form",
        "options": {}
      },
      "id": "54b6c8fd-439d-4040-9eeb-404a8d573ef1",
      "name": "Webhook: Intake Form",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -656,
        96
      ],
      "webhookId": "intake-form",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bf8fbe7b-523b-4610-909f-585234890ca4",
      "name": "Validation OK?",
      "type": "n8n-nodes-base.if",
      "position": [
        -208,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "={{ $env.MONDAY_BOARD_ID }}",
        "groupId": "new_submissions",
        "additionalFields": {}
      },
      "id": "8546f3eb-c04d-41b6-96a1-e60ccc00e928",
      "name": "Create Monday.com Item",
      "type": "n8n-nodes-base.mondayCom",
      "position": [
        16,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "channel": "#intake-notifications",
        "text": "📥 *New Project Submission*\n\n*Project:* {{ $json.mapped_data.project_title }}\n*Company:* {{ $json.mapped_data.company_name }}\n*Contact:* {{ $json.mapped_data.contact_email }}\n*Stage:* {{ $json.mapped_data.dev_stage }}\n*Budget:* {{ $json.mapped_data.budget || 'Not specified' }}\n\n👉 Review in Monday.com",
        "otherOptions": {},
        "attachments": []
      },
      "id": "5df44de0-9700-43b4-beac-8a1be0457c39",
      "name": "Notify Team (Slack)",
      "type": "n8n-nodes-base.slack",
      "position": [
        240,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourcompany.com",
        "toEmail": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "⚠️ Intake Form Validation Failed",
        "text": "A form submission failed validation.\n\nErrors:\n{{ $json.errors.join('\\n') }}\n\nContact: {{ $json.contact_email }}\nTimestamp: {{ $json.timestamp }}",
        "options": {}
      },
      "id": "1b2d062d-ccb7-41f9-ab53-a8703b38436a",
      "name": "Error Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        240,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Map and validate form fields\nconst formData = $input.first().json.body;\n\nconst fieldMap = {\n  'company_name': 'company_name',\n  'company': 'company_name',\n  'contact_email': 'contact_email',\n  'email': 'contact_email',\n  'project_title': 'project_title',\n  'title': 'project_title',\n  'project_description': 'description',\n  'description': 'description',\n  'development_stage': 'dev_stage',\n  'budget_range': 'budget',\n  'timeline': 'timeline',\n  'technical_requirements': 'tech_requirements',\n  'file_uploads': 'files'\n};\n\nconst requiredFields = ['company_name', 'contact_email', 'project_title', 'description', 'dev_stage'];\n\nconst mapped = {};\nconst errors = [];\n\nfor (const [key, value] of Object.entries(formData)) {\n  const cleanKey = key.trim().toLowerCase().replace(/[\\s-]/g, '_');\n  const colId = fieldMap[cleanKey] || cleanKey;\n  if (value && String(value).trim()) {\n    mapped[colId] = String(value).trim();\n  }\n}\n\nfor (const field of requiredFields) {\n  if (!mapped[field]) {\n    errors.push(`Missing required field: ${field}`);\n  }\n}\n\nmapped.submitted_at = new Date().toISOString();\nmapped.review_status = 'New';\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    mapped_data: mapped\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        96
      ],
      "id": "0cded111-8c19-4f6e-98a4-9468159f7809",
      "name": "Validate & Map Fields"
    },
    {
      "parameters": {
        "jsCode": "// Log validation errors\nconst errors = $input.first().json.errors;\nconst formData = $input.first().json.mapped_data || {};\n\nconsole.log('Validation failed:', JSON.stringify(errors));\nconsole.log('Submitted data:', JSON.stringify(formData));\n\nreturn [{\n  json: {\n    status: 'validation_failed',\n    errors: errors,\n    timestamp: new Date().toISOString(),\n    contact_email: formData.contact_email || 'unknown'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        192
      ],
      "id": "2a2759f2-020e-48ec-917b-5ef6e190c71e",
      "name": "Log Validation Errors"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Intake Form": {
      "main": [
        [
          {
            "node": "Validate & Map Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation OK?": {
      "main": [
        [
          {
            "node": "Create Monday.com Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Monday.com Item": {
      "main": [
        [
          {
            "node": "Notify Team (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Map Fields": {
      "main": [
        [
          {
            "node": "Validation OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Validation Errors": {
      "main": [
        [
          {
            "node": "Error Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b7ba05e6-ab9b-4fdb-9285-c0998bad0250",
  "meta": {
    "instanceId": "e260aa82b7e187ca68efa4dd0e0d974738c493f446088804fe1b7165276a13d8"
  },
  "id": "g347wJyPHgBZFXua",
  "tags": []
}